.login-form-wrapper{
    height: 92vh;
}

.login-background-container {
    background-image:url("../images/drew-dau-Yws08GEgPGc-unsplash.jpg");
    background-size: cover;
    background-repeat:repeat-y;
    width: 100%;
   margin-top:-15px
}

.errorContainer{
    width: 100px;
    margin: auto;
}


.login-form{
    background-color: rgba(255,255,255,0.6);
    border-radius:10px;
  
}

.bar-divider{
    height:5px
}