.signup-background-container {
    background-image:url("../images/lacie-slezak-7yqyQQXgOT8-unsplash.jpg");
    background-size: cover;
    background-repeat:repeat-y;
    width: 100%;
       margin-top:-15px
    
}


.errorContainer{
    width: 200px;
    margin: auto;
}

.signup-form{
    background-color: rgba(255,255,255,0.6);
    border-radius:10px;
  
}