.signup-background-container {
    background-image:url("../images/lacie-slezak-7yqyQQXgOT8-unsplash.jpg");
    background-size: cover;
    background-repeat:repeat-y;
    width: 100%;
    height:100vh;
}


.errorContainer{
    width: 200px;
    margin: auto;
}